@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
  font-family: 'Nunito', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
}

li + li {
  margin-left: 24px;
}

button {
  background-color:	hsl(231, 98%, 24%);
  color:	hsl(231, 98%, 98%);
  border: none;
  padding: 16px;
  font-weight: 700;
  border-radius: 3px;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}
